<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Robot"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        📌 Pantalla de Empeños
        <activity
            android:name=".EmpenosActivity"
            android:exported="false"
            android:label="@string/title_activity_empenos"
            android:theme="@style/Theme.AppCompat" />

        📌 FileProvider para compartir imágenes con cámara
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        📌 Lista de actividades
        <activity
            android:name=".CuponesActivity"
            android:exported="false" />

        <activity
            android:name=".AddressFormActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BienvenidaActivity"
            android:exported="false" />

        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />

        <activity
            android:name=".MiCuentaActivity"
            android:exported="false" />

        <activity
            android:name=".DatosPersonalesActivity"
            android:exported="false" />

        <activity
            android:name=".DetalleProductoActivity"
            android:exported="false" />

        <activity
            android:name=".MisComprasActivity"
            android:exported="false" />

        <activity
            android:name=".NotificacionesActivity"
            android:exported="false" />

        <activity
            android:name=".ServicioTecnicoActivity"
            android:exported="false" />

        <activity
            android:name=".SolicitarServicioActivity"
            android:exported="false" />

        <activity
            android:name=".SeguimientoActivity"
            android:exported="false" />

        <activity
            android:name=".MasActivity"
            android:exported="false" />

        <activity android:name=".MisPuntosActivity" />

        Agregando actividades de administrador
        <activity android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity android:name=".AdminUsuariosActivity"
            android:exported="false" />
        <activity android:name=".AdminEmpenosActivity"
            android:exported="false" />
        <activity android:name=".AdminCuponesActivity"
            android:exported="false" />
        <activity android:name=".AdminReportesActivity"
            android:exported="false" />
        <activity android:name=".AdminConfiguracionActivity"
            android:exported="false" />

        <!-- Agregando AdminRegistrarEmpenoActivity al manifest -->
        <activity android:name=".AdminRegistrarEmpenoActivity"
            android:exported="false" />

        Agregando actividades del sistema de pagos
        <activity android:name=".PagosActivity"
            android:exported="false" />
        <activity android:name=".AdminPagosActivity"
            android:exported="false" />

        Agregando nuevas actividades de seguimiento de reparaciones
        <activity android:name=".SeguimientoReparacionActivity"
            android:exported="false" />
        <activity android:name=".AdminOrdenesReparacionActivity"
            android:exported="false" />
        <activity android:name=".RegistrarEmpenoActivity"
            android:exported="false" />
        <activity android:name=".VerEmpenosActivity"
            android:exported="false" />

        Agregando actividad del chatbot Robot IA
        <activity android:name=".RobotIAActivity"
            android:exported="false" />

        Agregando actividad de registro de usuarios
        <activity android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Agregar AdminGestionReparacionesActivity y VerImagenFullscreenActivity al manifest -->
        <activity android:name=".AdminGestionReparacionesActivity"
            android:exported="false" />
        <activity android:name=".VerImagenFullscreenActivity"
            android:exported="false" />

        <!-- Agregando DireccionesActivity al manifest -->
        <activity android:name=".DireccionesActivity"
            android:exported="false" />

    </application>

</manifest>
